<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYsuX0XIh3ZluJ6kXU4jWz0PZxpon51D4</string>
	<key>GCM_SENDER_ID</key>
	<string>487423665856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeMangement</string>
	<key>PROJECT_ID</key>
	<string>employee-mangement-syste-26e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-mangement-syste-26e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487423665856:ios:1d06d2de61105440f4ef25</string>
</dict>
</plist>